
html, body {
  background: #fefefe;
}

p {
  font-family: "open sans";
}

a {
  color: #389DEC;
}

h1 {
  font-family: "open-sans", sans-serif;
  padding: 0;
  color: #316E99;
  font-size: 5.5em;
  font-weight: bold;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
    padding: 10px 0 5px 0px;
    margin: 0;
    float: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  h1 {
    font-size: 4.5em;
    padding: 10px 0 5px 0px;
    float: none;
    margin: 10px 0 0 0;
  }
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  text-align: center;
  color: #389DEC;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.8em;
    padding: 5px;
  }
}
@media only screen and (max-width: 320px) {
  h2 {
    font-size: 1.3em;
  }
}

/* Header-Blue Top Area etc.*/
.head {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

@media only screen and (max-width: 767px) {
  .head {
    padding: 0 0 10px 0;
    height: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .title {
    width: 100%!important;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    width: 100%!important;
    text-align: center;
  }
}

/* Summary contains all the "shopping cart" styles Right-Col */
.summary-box {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .summary-box {
    width: 98%!important;
    margin-top: 10px;
    padding: 10px 25px 0 0;
    border-top: #ddd solid thin;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .summary-box {
    width: 100%!important;
    margin-top: 10px;
    padding: 10px 25px 0 0;
    border-top: #ddd solid thin;
    text-align: center;
    clear: both;
    padding-top: 10px!important;
  }
}
@media only screen and (max-width: 320px) {
  .summary-box {
    padding: 10px 0 0 0;
  }
}

.summary-box h3 {
  font-size: 1.5em;
  background-color: #eeeeee;
  width: 100%;
  color: #454545;
  padding: 10px 0 10px 20px;
  letter-spacing: .05em;
}

.summary-title {
  font-family: "open-sans", sans-serif;
}

.summary-box--container {
  padding: 0 0 0 0px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .summary-box--container {
    padding: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .summary-box--container {
    padding: 0;
    text-align: center;
  }
}

.summary-box--heading {
  color: #2F6E99;
  font-family: "open-sans", sans-serif;
  padding: 10px 0 0 0;
  font-size: 1.1em;
}

.summary-box--result {
  color: #454545;
}
@media only screen and (max-width: 767px) {
  .summary-box--result {
    text-align: center;
  }
}

.price-total {
  border-top: #ddd thin solid;
  border-bottom: #ddd thin solid;
  font-family: "open-sans", sans-serif;
  font-size: 1.5em;
  padding: 5px 0 5px 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .price-total {
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .price-total {
    padding: 0;
    text-align: center;
  }
}

.total-price {
  float: right;
  margin: 0 10% 0;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .total-price {
    float: none;
    margin: 0 0 0 5%;
  }
}
@media only screen and (max-width: 767px) {
  .total-price {
    float: none;
  }
}
@media only screen and (max-width: 320px) {
  .total-price {
    margin: 0 0 0 2%;
  }
}
@media only screen and (max-width: 768px) {
  .total-price {
    margin: 0 0 0 2%;
  }
}

.yep-i-am-awesome {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .yep-i-am-awesome {
    width: 45%;
  }
}
@media only screen and (max-width: 767px) {
  .yep-i-am-awesome {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .yep-i-am-awesome {
    display: none !important;
  }
}

.poop-wrapper {
  margin-top: 25px;
}

@media only screen and (max-width: 767px) {
  .poop-wrapper p {
    padding: 0 10px 0 10px;
  }
}

.gender {
  float: left;
  margin: 10px 10px 10px 0;
}

.gender-select {
  width: 20px!important;
  height: 20px!important;
}

.esig {
  font-family: "open-sans", sans-serif;
  font-size: 1.2em;
}

.signature-line {
  font-size: .9em;
}

/* Info Box contains all the general information styles */
.info-box {
  float: left;
  width: 100%;
}
.info-box h3 {
  cursor: pointer;
  padding: 20px;
  font-family: "open-sans", sans-serif;
  font-size: 1.5em;
  letter-spacing: .1em;
}

.mid-col {
  border-right: #B4B4B5 solid thin;
  padding-right: 25px;
}

@media only screen and (max-width: 767px) {
  .info-box h3 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 767px) {
  .info-box ul {
    margin: 0;
    padding: 0 10px 0 10px;
  }
}

.info-title {
  margin: 0;
  padding: 10px 0 10px 0;
  cursor: pointer;
  min-height: 46px;
}

.left-content {
  margin-top: 50px;
}
@media only screen and (max-width: 767px) {
  .left-content {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .left-content {
    margin-top: 50px;
  }
}

.left-content p {
  text-align: center;
  padding: 0px 30px;
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 20px 0 0 0;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .left-content p {
    margin-top: 10px;
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 767px) {
  .left-content p {
    margin: 10px 0 20px 0;
    font-size: 1em;
  }
}
@media only screen and (max-width: 320px) {
  .left-content p {
    font-size: .8em;
  }
}

.right {
  float: right;
}
@media only screen and (max-width: 767px) {
  .right {
    padding: 0 10px 0 10px;
    float: none;
  }
}

.info-box__content {
  margin: 0;
}

.input-title {
  font-family: "open-sans", sans-serif;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}


label {
  font-family: "open-sans", sans-serif;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

.form-item-submitted-personal-info-agreement-fieldset-agreement-1 label,
.form-item-submitted-payment-payment-col-1-billing-different-1 label {
  font-size: 1em;
  font-weight: normal;
  font-family: "open sans";
}

p.disclaimer {
  float: left;
}

/* General Information Title Styles "Upgrade, Payment etc."*/
.section-hightlight {
  font-family: "open-sans", sans-serif;
}
@media only screen and (max-width: 767px) {
  .section-hightlight {
    margin-bottom: 0!important;
  }
}

.form {
  margin-bottom: 25px;
  margin-top: 25px;
}
@media only screen and (max-width: 767px) {
  .form {
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .header_box {
    margin-bottom: 0!important;
  }
}

.inactive.info-title {
  background-color: #C4C6C8;
  color: #fff;
  -webkit-transition-property: #eeeeee;
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 0.5s;
  -o-transition-property: #eeeeee;
  /* Opera 10.5+ */
  -o-transition-duration: 0.5s;
  -ms-transition-property: #eeeeee;
  /* IE10? */
  -ms-transition-duration: 0.5s;
  transition-property: #eeeeee;
  /* Standard */
  transition-duration: 0.5s;
}

.inactive.info-title, .active.info-title {
  display: inline-block;
  float: left;
  padding: 10px;
  font-size: 1.4em;
  width: 33%;
  text-align: center;
  border-right: #bbb solid thin;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .inactive.info-title, .active.info-title {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 767px) {
  .inactive.info-title, .active.info-title {
    display: none !important;
  }
}

.active.info-title {
  background-color: #4D99D3;
  color: #fff;
  -webkit-transition-property: #454545;
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 0.5s;
  -o-transition-property: #454545;
  /* Opera 10.5+ */
  -o-transition-duration: 0.5s;
  -ms-transition-property: #454545;
  /* IE10? */
  -ms-transition-duration: 0.5s;
  transition-property: #454545;
  /* Standard */
  transition-duration: 0.5s;
}

.create-account {
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: ease-in-out;
  /* Opera 10.5+ */
  -o-transition-duration: ease-in-out;
  /* IE10? */
  -ms-transition-duration: ease-in-out;
  /* Standard */
  transition-duration: ease-in-out;
}

.upgrades {
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: ease-in-out;
  /* Opera 10.5+ */
  -o-transition-duration: ease-in-out;
  /* IE10? */
  -ms-transition-duration: ease-in-out;
  /* Standard */
  transition-duration: ease-in-out;
}

.payment {
  /* Saf3.2+, Chrome */
  -webkit-transition-duration: ease-in-out;
  /* Opera 10.5+ */
  -o-transition-duration: ease-in-out;
  /* IE10? */
  -ms-transition-duration: ease-in-out;
  /* Standard */
  transition-duration: ease-in-out;
}

/*Additional Coverage Styles"*/
.coverage-select figure {
  margin: 0;
  position: relative;
}

.coverage-select figcaption {
  position: absolute;
  top: -35px;
  left: -35px;
  padding: 20px;
  background: #316E99;
  color: #ed4e6e;
  z-index: 300;
}

.coverage-select figcaption a {
  text-align: center;
  padding: 10px 15px;
  display: inline-block;
  background: #FBDD06;
  color: #454545;
  font-family: "open-sans", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
}

.cs-style-1 figcaption {
  height: 215px;
  width: 110%;
  opacity: 0;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption, .cs-style-1 figure.cs-hover figcaption {
  opacity: 1;
  transform: translate(15px, 15px);
}

.cs-style-1 figcaption a {
  margin-top: 10px;
}

.coverage-select {
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .coverage-select {
    width: 100%!important;
  }
}
@media only screen and (max-width: 767px) {
  .coverage-select {
    width: 100%;
  }
}

li.coverage-option {
  margin: 0 15px 15px 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  text-align: left;
  position: relative;
  float: right;
  background-color: #389DEC;
  width: 45%;
  height: 175px;
  border-top: 0;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  li.coverage-option {
    width: 100%;
    padding: 10px;
    width: none;
    border-bottom: 0;
    margin: 0 5px 5px 0;
    float: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  li.coverage-option {
    padding: 0px;
    width: 45%;
    border-bottom: 0;
    margin: 0 5px 5px 0;
  }
}

.coverage-option p {
  text-align: center;
  font-family: "open-sans", sans-serif;
  font-size: 2em;
  color: #fff;
  margin-top: 60px;
}
@media only screen and (max-width: 767px) {
  .coverage-option p {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .coverage-option p {
    font-size: 1.7em;
  }
}

p.coverage-text {
  font-family: "open sans";
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  margin-top: 15px;
}
@media only screen and (max-width: 768px) {
  p.coverage-text {
    margin: 45px 0 10px 0;
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  p.coverage-text {
    font-size: .9em;
  }
}
@media only screen and (max-width: 320px) {
  p.coverage-text {
    font-size: .9em;
    margin-top: 20px;
  }
}

.last {
  border: 0;
}

.price-option {
  font-family: "open-sans", sans-serif;
  font-size: 1.7em;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .price-option {
    display: block;
  }
}

.add-btn {
  font-family: "open-sans", sans-serif;
  background-color: #389DEC;
  width: 200px;
  height: 175px;
  margin: 0;
  font-size: 2em;
  color: #fff;
  border: 0;
}

/*The Buttons Go Wacky when scaled down"*/
#edit-submit--2 {
  background-color: #FCDD0A;
  width: 120px;
  height: 50px;
  margin: 0 0 0 50px;
  font-size: 1.2em;
  color: #454545;
  border: 0;
  float: right;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .add-btn {
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  .add-btn {
    margin: 6px 0 6px 5px;
  }
}

.add-btn-next {
  background-color: #FCDD0A;
  width: 120px;
  height: 50px;
  margin: 0 0 0 50px;
  font-size: 1.2em;
  color: #454545;
  border: 0;
  float: right;
  font-weight: bold;
}

/*The Buttons Go Wacky when scaled down"*/
@media only screen and (max-width: 768px) {
  .add-btn-next {
    margin: 6px 0 6px 5px;
  }
}

@media only screen and (max-width: 320px) {
  .add-btn-next {
    margin: 6px 10px 6px 5px;
  }
}

a.sub-link {
  color: #2F6E99;
  text-align: center;
  font-size: .9em;
  text-decoration: underline;
  margin: 30px 0 20px 0;
  text-align: center;
}
@media only screen and (max-width: 320px) {
  a.sub-link {
    font-size: .7em;
  }
}

.summary-disclaimer {
  font-size: .8em;
}

/*lower disclaimer word stylings*/
.lower {
  border-top: #ccc solid thin;
  padding-top: 15px;
}

.lower h4 {
  font-size: .9em;
  font-weight: bold;
  line-height: 1.4em;
}

.lower p, .bottom p {
  font-size: .9em;
  line-height: 1.4em;
}
@media only screen and (max-width: 767px) {
  .lower p, .bottom p {
    font-size: .7em;
  }
}

/*more disclaimer word stylings, includes grey bar*/
@media only screen and (max-width: 320px) {
  .progressbar {
    display: none !important;
  }
}

.bottom-row {
  background-color: #454545;
  max-width: 100%;
}

.bottom {
  color: #fff;
  margin: 0;
  padding: 30px 0 30px 0;
}

/* footer*/
.terms, .privacy, .copyright {
  float: left;
  padding: 10px 10px 10px 0;
}

.nobg {
  background: white;
  border: none;
}

.row {
  /*margin-bottom: 25px;*/
}

.grippie {
  display: none;
}

.content {
  /*max-width: 1240px;*/
  margin-left: auto;
  margin-right: auto;
}

.left-footer-msg {
  font-size: .8em;
  float: left;
}
@media only screen and (max-width: 320px) {
  .left-footer-msg {
    font-size: .6em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .left-footer-msg {
    font-size: .7em;
  }
}

.right-footer-msg {
  font-size: .8em;
  float: right;
}
@media only screen and (max-width: 320px) {
  .right-footer-msg {
    font-size: .6em;
    float: left;
    clear: both;
  }
}
@media only screen and (max-width: 768px) {
  .right-footer-msg {
    font-size: .7em;
    float: left;
    clear: both;
  }
}

#webform-component-payment--payment-col-2 {
  font-size: .9em;
  border: #ccc solid thin;
  padding: 10px;
}

.signature-box {
  margin: 0;
  padding: 0;
}

.thanks {
  font-size: 2em;
  text-align: center;
}

/* Enrollment 2 - Health Card Specific*/
.coverage-option-title {
  font-size: 1.4em;
}

p.coverage-text-healthcare {
  font-family: "open sans";
  font-size: 1.0em;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
@media only screen and (max-width: 768px) {
  p.coverage-text-healthcare {
    margin: 45px 0 10px 0;
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  p.coverage-text-healthcare {
    font-size: .9em;
  }
}
@media only screen and (max-width: 320px) {
  p.coverage-text-healthcare {
    font-size: .9em;
    margin-top: 20px;
  }
}


#messages {
  height: 0px;
}

#messages ul li.alert {
  background-color: #f66060;
  color: #000;
  padding: 0 20px;
}

#summary-box li.registration,
#summary-box li.membership,
#summary-box li.premium,
#summary-box p.price-reg-total {
  display: none;
  min-height: 110px;
}

#summary-box li.premium,
#summary-box p.price-reg-total {
}

.form-wrapper .fieldset-wrapper {
  padding: 0px;
}

.form-wrapper .fieldset-wrapper .form-wrapper .fieldset-wrapper {
  padding: 0;  
}

#webform-component-personal-info--info-col-1 {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
}

#webform-component-personal-info--info-col-2 {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
}

#webform-component-personal-info--agreement-fieldset {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  border-left: solid thin #B4B4B5;
  padding-left: 30px;
}

#webform-component-payment--payment-col-1,
#webform-component-payment--payment-col-2 {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

#webform-component-payment--payment-col-1--credit-card--card-type {
  margin-top: 0;
}

#webform-component-payment--payment-col-1--credit-card--card-type {
    background-image: url("../img/visa_mc.png");
    background-position: 125px 0;
    background-repeat: no-repeat;
    height: 60px;
    padding-left: 0;
}


#edit-actions--2 {
  display: none;
}


input.form-radio {
  vertical-align: text-top;
}

#edit-actions--2 {
  display: none;
  padding: 0 20px 50px 0;
}

input.form-text {
  max-width: 90%;
  width: 90%;
  padding: 0;
  margin: 5px 0 0 0;
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  font-family: "Open Sans";
  font-weight: 300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  background: #fff;
  border: 1px solid #d8d8d8;
  height: 36px;
  line-height: 34px;
  font-size: 16px;
  font-size: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

select {
  font-size: 16px;
  font-size: 1rem;
}


.info-title.inactive.processed {
  background-color: #464646;
}

input.empty,
label.empty {
  border: 1px solid red;
}